
 
 <div class="card" style="width: 18rem;">
          <img class="card-img-top" src='./img/k1.jpg'>
          <div class="card-body">
            <h5 class="card-title">
              <%=@name%>
            </h5>
            <p class="card-text">
              <%=@des%>
            </p>
            <a href="#" class="btn btn-primary">
              <%=@price%>
            </a>
          </div>
      </div>
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/k2.jpg'>
        <div class="card-body">
          <h5 class="card-title">
            <%=@name1%>
          </h5>
          <p class="card-text">
            <%=@des1%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price1%>
          </a>
        </div>
      </div>
        <%# item3%>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/k3.jpg'>
        <div class="card-body">
          <h5 class="card-title">
            <%=@name2%>
          </h5>
          <p class="card-text">
            <%=@des2%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price2%>
          </a>
        </div>
      </div>
  <%# item4%>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/m1.jpg'>
        <div class="card-body"
          <h5 class="card-title">
            <%=@name_c%>
          </h5>
          <p class="card-text">
            <%=@des_c%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price_c%>
          </a>
        </div>
      </div>
      <%# item5%>
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/m2.jpg'>
        <div class="card-body"
          <h5 class="card-title">
            <%=@name1_c%>
          </h5>
          <p class="card-text">
            <%=@des1_c%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price1_c%>
          </a>
        </div>
      </div>
      <%# item6%>
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/m3.jpg'>
        <div class="card-body"
          <h5 class="card-title">
            <%=@name2_c%>
          </h5>
          <p class="card-text">
            <%=@des2_c%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price2_c%>
          </a>
        </div>
      </div>
      <%# item7%>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/c2.jpg'>
        <div class="card-body"
          <h5 class="card-title">
            <%=@name2_k%>
          </h5>
          <p class="card-text">
            <%=@des2_k%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price2_k%>
          </a>
        </div>
      </div>
       <%# item8%>
       <div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/c.jpg'>
        <div class="card-body"
          <h5 class="card-title">
            <%=@name_k%>
          </h5>
          <p class="card-text">
            <%=@des_k%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price_k%>
          </a>
        </div>
      </div>
        <%# item9%>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src='./img/c1.jpg'>
        <div class="card-body"
          <h5 class="card-title">
            <%=@name1_k%>
          </h5>
          <p class="card-text">
            <%=@des1_k%>
          </p>
          <a href="#" class="btn btn-primary">
            <%=@price1_k%>
          </a>
        </div>
      </div>